.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7em;
  background-color: #1829EB;
  color: white;
  font-size: 1.2rem;
}

.flex--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}