.container {
  height: 5em;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 75px;
  margin-right: auto;
  margin-left: 2em;
}

p {
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: -5em;
}